body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.card {
  background-color: #e8ecef;
  border: 0;
}
.card-body {
  margin: 20px 0;
  padding: 0;
}
.row {
  display: flex;
  flex-direction: column;
}
